[submodule "janus/hexHighlight"]
	path = janus/hexHighlight
	url = https://github.com/vim-scripts/hexHighlight.vim.git
[submodule "janus/vim-indent-guides"]
	path = janus/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
